.home_screen {
    display: flex;
    flex-direction: row;
    background-color: #f0f2f5;
    height: 100vh;        
    max-height: 100vh;    
    overflow: hidden;     
}

.home_chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;              
    background-color: #f7f5f3;
    overflow: hidden;
}